h1 Tenemos un clasificado para ti
p = "Hola #{@user.email}."
p Hemos encontrado un clasificado que concuerda con una de tus palabras claves:

b = @user.profile.keywords

p Anuncio Encontrado:
b = @classified.content 

